/* Remove: margin, padding and border */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main Structure */

body {
    background: #008080;
    font-family: Arial, Helvetica, sans-serif;
}

hide {
    display: none;
}

/* Header Menu */

#nav-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #aaaaa0;
    z-index: +10;
}

.one-third {
    width: 33%;
    float: left;
}

#header-logo {
    float: left;
    width: 200px;
    height: 100px;
    padding-left: 30px;
}

#nav-text-div {
    font-size: 35px;
    line-height: 100px;
}

#nav-menu {
    font-size: 28px;
    vertical-align: middle;
    color: #f8e108;
    line-height: 100px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    padding: 0 30px 0 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

/* The below displays a decorative border around the menu items when the user hovers over them */
#menu a:hover {
    border: 2px solid #003333;
    border-radius: 20%;
    padding: 5px;
}

/* Button Styling */



/* Quiz Styling */

#quiz-section {
    background-color: #003333;
    opacity: 0.9;
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 30px;
}

#question-div {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    
}

#question {
    color: #f5f5f5;
    font-size: 25px;
}

.option-divs {
    width: 50%;
    height: 150px;
    float: left;
    text-align: center;
}

.option-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #003333;
}

#next-question-div {
    width: 100%;
    height: 150px;
    text-align: center;
}

#next-question-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #aaaaa0;
    color: #000000;
    border: 2px solid #f8e108;
}