/* Remove: margin, padding and border */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main Structure */

body {
    background: #008080;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px; 
}

body.right {
    background-color: #006400;

}

body.wrong {
    background-color: #8b0000;
}

.hide {
    display: none !important;
}

/* Header Menu */

#nav-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #aaaaa0;
    z-index: +1;
}

.header-grid {
    width: 33%;
    float: left;
}

#header-logo-alt,
#header-logo {
    float: left;
    height: 80px;
    margin-left: 30px;
    padding: 10px 0;
}

#header-logo-alt {
    display: none;
}

#header-logo:hover,
#header-logo-alt:hover {
    border: 2px solid #f8e108;
    border-radius: 25px;
    font-weight: bold;
    padding: 8px;
}

#header-text-div {
    font-size: 28px;
    line-height: 100px;
    color: #003333;
    text-align: center;
}

#score-bar {
    font-size: 28px;
    padding-right: 15px;
    color: #003333;
    line-height: 50px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    float: right;
    font-weight: bold;
    list-style: none;
}

/* Quiz & Contact Page Styling */

#quiz-section,
#contact-section {
    background-color: #003333;
    opacity: 0.9;
    height: 100%;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
    border: 1px solid #000000;
    box-shadow: 0 0 5px 2px;
    padding: 30px 0;
}

#question {
    text-align: center;
    padding: 30px 15px 30px 15px;
    color: #f5f5f5;
    font-size: 35px;
}

#quiz-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 75px;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.option-button {
    height: 100px;
    width: 250px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #003333
}

.option-button.right {
    background-color: #008000;
    color: #f5f5f5;
}

.option-button.wrong {
    background-color: #ff0000;
    color: #f5f5f5;
}


#start-div {
    width: 100%;
    height: 300px;
    position: relative;
}

#start-div.retry {
    width: 100%;
    height: 200px;
    padding: 0;
}


#start-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    background-color: #000000;
    color: #f8e108;
    border: 4px solid #000000;
    align-items: center;
    /* The following vertically centers the button */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start-button:hover {
    background-color: #f8e108;
    color: #003333;
    font-size: 33px;
}

#start-button.try-again {
    opacity: 80%;
    height: 100px;
    width: 250px;
    border-radius: 50px;
}

#next-question-div {
    width: 100%;
    text-align: center;
    padding: 30px 0 30px 0;
}

#next-question-button {
    height: 100px;
    width: 250px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #aaaaa0;
    color: #000000;
    border: 4px solid #f8e108;
}

#next-question-button:hover {
    background-color: #f8e108;
    border: 4px solid #aaaaa0;
}

.option-button:hover,
#submit-button:hover,
#next-question-button:hover {
    font-size: 28px;
}

#contact-heading {
    text-align: center;
    padding-top: 20px;
    color: #f5f5f5;
    font-size: 28px;
}

/* Collapsible Window */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #aaaaa0;
    color: #003333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #008080;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #aaaaa0;
    color: #003333;
    padding: 25px;
    font-size: medium;
  }

/* Media Queries for Responsive Layout */

/* When the screen is less than 1364px wide */
@media screen and (max-width: 1364px) {

    #header-text-div {
        line-height: 50px;
    }

    #score-bar {
        line-height: 50px;
    }

}

/* When the screen is less than 1089px wide */
@media screen and (max-width: 1089px) {

    #header-text-div {
        font-size: 23px;
    }

    #nav-menu {
        line-height: 50px;
    }

    #quiz-section,
    #contact-section,
    #start-div {
        width: 750px;
    }

    #question {
        font-size: 28px;
    }

}

/* When the screen is less than 850px wide */
@media screen and (max-width: 850px) {

    #quiz-section,
    #contact-section,
    #start-div {

        width: 600px;
        padding: 15px;
    }

}

/* When the screen is less than 628px wide */
@media screen and (max-width: 628px) {

    .header-grid {
        width: 50%;
        float: left;
    }

    #header-text-div {
        display: none;
    }

    #quiz-section,
    #contact-section,
    #start-div {
        width: 390px;
    }

    #quiz-options {
        /* Make the quiz buttons stack on top of each other instead of next to each other */
        grid-template-columns: repeat(1, auto);
        gap: 50px;
        padding: 60px;
    }

    #start-button.try-again,
    .option-button,
    #next-question-button {
        height: 60px;
        width: 150px;
        border-radius: 30px;
        font-size: 15px;
    }

    #start-div.retry {
        height: 100px;
    }

    .option-button:hover,
    #next-question-button:hover {
        font-size: 20px;
    }

    #question,
    #quiz-options,
    #next-question-div {
        padding: 15px 0;
        gap: 30px;
    }

}

/* When the screen is less than 430px wide */
@media screen and (max-width: 430px) {

    #nav-menu {
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    #nav-menu li {
        padding: 0 15px;
    }

    #header-logo {
        display: none;
    }

    #header-logo-alt {
        float: left;
        height: 80px;
        margin-left: 30px;
        padding: 10px 0;
        display: block;
    }

    #quiz-section,
    #contact-section,
    #start-div {
        width: 250px;
    }

    #question {
        font-size: 24px;
    }

    #score-bar {
        font-size: 16px;
    }
}

/* The site will work correctly on devices with 280px screen width and above */